/* Styles specific to Chat Widget */

.chatWidget {
    width: 90%;
    /* This overrides the generic max-width for all widgets since the chat widget spans two columns */
    max-width: 90% 
}

.chatWidget__author {
    font-weight: 600;
    color: darkblue;
    margin: 0;
    margin-right: .2em;
    padding: 0 0 .2em;
}

.chatWidget__editBtn {
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
    height: 100%;
    flex-grow: 0;
    justify-content: right;
    margin: .1em .2em 0;
}

.chatWidget__msg {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 .2em;
    margin: 0 .5em 0 .1em;
}

p {
    margin: .2em 0 0;
}

.chatWidget__msgTimeStamp {
    text-align: right;
    font-size: .6em;
    color: darkblue;
    padding: 0 .2em 0 0;
    margin: 0;
}

/* Let the main content of the chat message fill all available area between user name and edit button as the container grows and shrinks. */
.chatWidget__content {
    font-size: .9em;
    flex-grow: 1;
    /* Keeps content area from making button smaller when large messages are made */
    width: 88%;
    margin: 0;
    padding-bottom: .1em;
    cursor: pointer;
}

.chatWidget__text {
    width: 80%;
    margin-left: .1em; 
}

.chatContainer {
    width: 99%
}

.chatWidget__author:hover,
.chatWidget__author:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.isPrivate {
    color: purple;
    font-style: italic;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 2s, opacity 700ms;
}

/* changes the width of the chat widget when viewport is less than 850 to match all the other widgets as they stack vertically. */
@media screen and (max-width: 850px) {
    .chatWidget {
        width: 95%;
        max-width: 95%;
    }
}