.event {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.event-button__attending {
    align-self: center;
}

.event p {
    margin :0;

}

.event__eventAttending {
    text-align: right;
}

.create-event,
.edit-event {
    height: 21px;
}
.create-event__name,
.edit-event__name {
    width: 250px;
    margin-bottom: 5px;
}

.eventDetails-bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.create-event__date,
.edit-event__date {
    width : 115px;
}

.eventWidget__btn-hidden {
    visibility: hidden;
}

.event--primary {
    background-color: lightgreen;
}

.event--secondary {
    background-color: lightgoldenrodyellow;
}

.event--tertiary {
    background-color: lightgray;
}

.event-edit {
    height: 14px;
    position: relative;
    top: -15px;
    left: -13px;
    background-color: white;
    padding : 3px;
    border-radius: 50%;
    z-index: 1;
}

.event__eventDetails {
    width: 73%;
}
