.friendsWidget__inputContainer {
    display: none;
}

.friendsContainer {
    height: 125px;
}

.friendsWidget__search-results {
    display: block;
    padding-left: 87px;
    padding-top: 4px;
    font-size: 12px;
    color: lightgreen;
}

.friendsWidget--green {
    color: green;
}

.friendsWidget--red {
    color: red;
}

.friendsWidget__user-comment {
    font-size: 12px;
}

.friendsWidget__btn-commit {
    
}

.friend {
    display: grid;
    grid-template-columns: 50% 40% 10%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "username email btn-delete";
}
 
.friend__userName {
    grid-area: username;
}

.friend__email {
    grid-area: email;
}

.friend__btn-delete {
    grid-area: btn-delete;
}