

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

:root {
    --main-bg-color: blue;
}

.welcome {
    text-align: center;
}


.welcome__interaction {
    position: relative;
    margin: 10px;
    height: 200px;
    width: 600px;
    padding: 10px;
}

.welcome__message {
    margin: 20px;
    font-size: 2em;
    color: white;
    font-family: serif;
    background-color: #b96a16;
    border-radius: 25px;
}

.welcome__brand {
    font-size: 2.5em;
    font-family: serif;
    background-color: rgba(208, 127, 46, 0.9);
    border-radius: 15px;

}
.welcome__background {
    position: relative;
    background-color: var(--main-bg-color);
    height: 100vh;
    width: 100%;
    
    /* Display the content in the middle of the div using flexbox*/
    display: flex;
    flex-basis: rows;
    justify-content: center;
    align-items: center;
}

.welcome__link-container {
    display: flex;
    justify-content: center;
}

.welcome__link {

    height: 20px;
    width: 100px;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    padding: 15px;
}

.welcome__link:hover {
    background-color: pink;
    color: black;
}

.login {
    background-color: var(--main-bg-color);
    display: none;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    flex-basis: rows;
    justify-content: center;
    align-items: center;
}
.login__username-label,
.login__email-label {
    margin-bottom: 10px;
    font-weight: bold;
}
.login__username {
    width: 100%;
    font-size: 1em;
    padding: 5px;
}

.login__email {
    font-size: 1em;
    padding: 5px;
    width: 100%;
}
.login__container {
    background-color: white;
    border: px solid white;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25em;
    padding: 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    border-radius: 10px;
}

.login__button-container {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.login__button-login,
.login__button-create {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: .75em;
    border: 1px solid gray;

}

.login__button-login:focus {outline:0;}
.login__button-create:focus {outline:0;}

.login__button-login:hover {background-color:lightgreen;}
.login__button-create:hover {background-color:lightgreen;}


.login__form {
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.login__username-container {
    display: block;
} 

.login__user-message {
    display: none;
    background-color: red;
    padding: 10px;
}

.nutshellNavbar {
    display: none;
    background-color: rgb(32, 109, 252);
    color: white;
    justify-content: space-between;
    padding: .6em 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}
.nutshellNavbar__color-container {
    position: absolute;
    color: black;
    display: flex;
    align-items: center;
    right: 20px;
    top: 40px;

}

[class^="nutshellNavbar__select-color--"] {
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid white;
}

.nutshellNavbar__select-color--blue {
    background-color: #206dfc;
}

.nutshellNavbar__select-color--brown {
    background-color: #b96a16;
}

.nutshellNavbar__select-color--black {
    background-color: black;
}

.nutshellNavbar__instructions {
    font-size: 10px;
}

.dashboard {
    display: none;
    color: black;
    --dashboard-background: rgb(255, 255, 255);
    background-color: var(--dashboard-background); 
}

.taskWidget {
    border: 1px solid black;
}

.task {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
}

.dashboard {
    margin: 20px;
}