body {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: blue;
}

.welcome {
    text-align: center;
}

.welcome__interaction {
    margin: 10px;
    height: 200px;
    width: 200px;
    padding: 10px;
}

.welcome__message {
    margin: 20px;
}
.welcome__background {
    position: relative;
    background-color: var(--main-bg-color);
    height: 100vh;
    width: 100%;
    
    /* Display the content in the middle of the div using flexbox*/
    display: flex;
    flex-basis: rows;
    justify-content: center;
    align-items: center;
}

.welcome__link {

    height: 50px;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    padding: 10px;
}
.login {
    background-color: var(--main-bg-color);
    display: none;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    flex-basis: rows;
    justify-content: center;
    align-items: center;
}

.login__container {
    background-color: gray;
    height: 500px;
    width: 300px;
    display: flex;
    flex-basis: row;
    justify-content: center;
    align-items: center;
}
.login__form {
    display: inline-block;
}

.login__username-container {
    display: block;
} 

.login__user-message {
    background-color: red;
}

.dashboard {
    display: none;
}