/* Task Widget Styling - could be applied globally */
.task__desc,
.task__desc--input {
    width: 70%;
    word-wrap: break-word;
    font-size: 12px;
    text-align: left;
}

.task__completion-date {
    font-size: 12px;
    text-align: center;
    width: 100px;
}

.task__btn-update {
    width: 75px;
}

.task__completion-date--input {
    font-size: 10px;
    width: 150px;
}

.task {
    padding: 5px;
    border: 1px solid white;
    margin: 5px;
    text-align: center;
}


