/* the look of the toast element */

/*
  Controls the position of your toaster
*/
.toaster__container {
    --toast-width: 250px; /* variable for toast width */
    position: fixed; /* Sit on top of the screen */
    
    top: 0;
    right: var(--toast-width)
    ; /* at least the width of your toast */
    margin-right: 100px;  
    /* z-index: 100; */
    
  }
  
  .toaster {
      list-style: none;
      position: absolute; /* need this to be able to position the toaster */
      margin: 0 auto;
      text-align: center;
  }
  .toaster__toast {
    background-color: rgba(208, 127, 46,.75);
    color: white;
    margin-top: 25px;
    width: var(--toast-width);
    height: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.15);
    border-radius: 10px;
    animation: fadein 0.5s;
    z-index: 1001;
  }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}